@model New_with_Views.Models.Entities.Movie

        <input class="form-control" type="hidden" asp-for="MovieItemID">
        <div class="form-group">
            <label asp-for="MovieTitle" class="col-sm-2 control-label"></label>
            <div class="col-sn-10">
                <p class="form-control-static">@Model.MovieTitle</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="YearPublished" class="col-sm-2 control-label"></label>
            <div class="col-sn-10">
                <p class="form-control-static">@Model.YearPublished</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Genre" class="col-sm-2 control-label"></label>
            <div class="col-sn-10">
                <p class="form-control-static">@Model.Genre</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Director" class="col-sm-2 control-label"></label>
            <div class="col-sn-10">
                <p class="form-control-static">@Model.Director</p>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="MovieLength" class="col-sm-2 control-label"></label>
            <div class="col-sn-10">
                <p class="form-control-static">@Model.MovieLength</p>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MoviePlot" class="col-sm-2 control-label"></label>
            <div class="col-sn-10">
                <p class="form-control-static">@Model.MoviePlot</p>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Rating" class="col-sm-2 control-label"></label>
            <div class="col-sn-10">
                <p class="form-control-static">@Model.Rating</p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">Actors</label>
            <div class="col-sn-10">
        
                @foreach(var ac in Model.InMoviess)
                {
                    <p class="form-control-static"> @ac.Actor.FirstName @ac.Actor.LastName</p>
                }
            </div>
            

        </div>
        
    
