@model IEnumerable<New_with_Views.Models.Entities.Actor>
    <!-- Shared View automaticly implemented -->
    @{
        ViewBag.Title = "Actors";
    }
    <div style="height: 30px; margin: 10px 10px 20px 0px;">
        <a class="btn btn-success" asp-controller="Actor" asp-action="Create">New Actor</a>   
    </div>
    <table class="table  table-striped table-hover"> 
        <!-- Table head DisplayName fetched from Entities.Actor-->
        <thead class="row">
            <th>ID</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th ><span class="col-xs-offset-1">Action<span></th>
           
        </thead>
     @foreach(var ac in Model)
        {        
            <!-- Actor info fetched from GetAll Entities.Actor -->   
            <tr> 
                <td>@ac.ActorID</td>
                <td>@ac.FirstName</td>
                <td>@ac.LastName</td>
                <td class="row">
                    <!-- asp-route-id fetched from GetAll Entities.Actor - ActorID -->
                    <a class="btn btn-primary btn-sm col-xs-3 col-xs-offset-1" asp-controller="Actor" asp-action="Update" asp-route-id=@ac.ActorID>Edit</a>
                    <a class="btn btn-danger btn-sm col-xs-3 col-xs-offset-1" asp-controller="Actor" asp-action="Delete" asp-route-id=@ac.ActorID>Delete</a> 
                    <a class="btn btn-info btn-sm col-xs-3 col-xs-offset-1" asp-controller="Actor" asp-action="Details" asp-route-id=@ac.ActorID>Details</a>
                </td>  
            </tr>     
        }
     
      </table>