@model New_with_Views.Models.Entities.Movie

@{ 
    ViewBag.Title = "Details for: " + @Model.MovieTitle; 
    
}

    <form asp-controler="Movie" asp-action="Create" method="POST" class="form-horizontal" >
            <!--<h2>Movie</h2> 
            <p><b>@Html.DisplayNameFor(model => model.MovieTitle):</b> @Model.MovieTitle</p>
            <p><b>@Html.DisplayNameFor(model => model.YearPublished):</b> @Model.YearPublished</p>
            <p><b>@Html.DisplayNameFor(model => model.Genre): </b>@Model.Genre</p>
            <p><b>@Html.DisplayNameFor(model => model.Director): </b>@Model.Director</p>
            <p><b>@Html.DisplayNameFor(model => model.MovieLength): </b>@Model.MovieLength</p>
            <p><b>@Html.DisplayNameFor(model => model.MoviePlot): </b>@Model.MoviePlot</p>
            <p><b>@Html.DisplayNameFor(model => model.Rating): </b>@Model.Rating</p>
            <a class="btn btn-info" asp-controller="Movie" asp-action="Index">Back to List</a>-->
        @Html.Partial("_MoviesDetails")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <a class="btn btn-info" asp-controller="Movie" asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
    