@model IEnumerable<New_with_Views.Models.Entities.Movie>
    <!-- Shared View hentes -->
    @{
        ViewBag.Title = "Movies";
    }

    <a class="btn btn-success" asp-controller="Movie" asp-action="Create">New Movie</a>   
    <table class="table  table-striped table-hover"> 
        <thead class="row">
            <th>@Html.DisplayNameFor(model => model.MovieItemID)</th>
            <th>@Html.DisplayNameFor(model => model.MovieTitle)</th>
            <th>@Html.DisplayNameFor(model => model.YearPublished)</th>
            <th>@Html.DisplayNameFor(model => model.Genre)</th>
            <th>@Html.DisplayNameFor(model => model.Director)</th>
            <th>@Html.DisplayNameFor(model => model.MovieLength)</th>
            <th>@Html.DisplayNameFor(model => model.MoviePlot)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th ><span class="col-xs-offset-1">Action<span></th>
           
        </thead>
     @foreach(var mo in Model)
        {           
            <tr> 
                <td>@mo.MovieItemID</td>
                <td>@mo.MovieTitle</td>
                <td>@mo.YearPublished</td>
                <td>@mo.Genre</td>
                <td>@mo.Director</td>
                <td>@mo.MovieLength</td>
                <td>@mo.MoviePlot</td>
                <td>@mo.Rating</td>
                <td class="row">
                    <a class="btn btn-primary btn-sm col-xs-3 col-xs-offset-1" asp-controller="Movie" asp-action="Update" asp-route-id=@mo.MovieItemID >Edit</a>
                    <a class="btn btn-danger btn-sm col-xs-3 col-xs-offset-1" asp-controller="Movie" asp-action="Delete" asp-route-id=@mo.MovieItemID>Delete</a> 
                    <a class="btn btn-info btn-sm col-xs-3 col-xs-offset-1" asp-controller="Movie" asp-action="Details" asp-route-id=@mo.MovieItemID>Details</a>
                </td>  
            </tr>     
        }
     
      </table>
